<style>
#wp_duoshuo_ex{margin:0 auto;}

#wp_duoshuo_ex ul{list-style:none;}

#wp_duoshuo_ex ul li{
	float:left;
	list-style-image:none;
	text-align:center;
	padding:2px;
	background: #fff;
	width:25px;
	height:25px;
	border: 1px solid #aaa;
	margin-left:0;
	border-bottom-color: #999;
	box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
</style>
