.wp_weixin_robot_table_head_tr{
	height:35px;
	vertical-align:inherit;
	line-height:35px;
	color:#21759b;
	font-size:14px;
}

.wp_weixin_robot_table_head_td{
	height:35px;
	line-height:35px;
	text-align:center;
	color:#21759b;
	font-size:14px;
}
